<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Looker Extension</title>
  <link type="text/css" rel="stylesheet" href="../index.css" />
</head>
<body>
  <div class="hello-world-container">
    <div class="logo-container">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWbRgdJ0C2JwZ9ru7zVa82ZjhiknWFVBvVug&s" alt="Looker Logo" width="100" height="100" />
    </div>
    <h1 class="welcome-message"></h1>
    <div class="card-container">
      <div class="card">
        <h3>Looker API</h3>
        <p>Learn more about the Looker API and how to use it in your extensions.</p>
        <a href="https://docs.looker.com/reference/api-and-sdk/api-reference" target="_blank" rel="noopener noreferrer">View Docs</a>
      </div>
      <div class="card">
        <h3>Extension SDK</h3>
        <p>Discover the features of the Looker Extension SDK for building custom applications.</p>
        <a href="https://docs.looker.com/reference/extension-sdk-reference" target="_blank" rel="noopener noreferrer">View Docs</a>
      </div>
      <div class="card">
        <h3>Get Started</h3>
        <p>Learn how to build your own extension with our resources.</p>
        <a href="https://docs.looker.com/data-modeling/extension-framework/extension-framework-intro" target="_blank" rel="noopener noreferrer">View Docs</a>
      </div>
    </div>
  </div>
</body>
</html>
